.container.main {
    margin-top: 7.0em;
}


i.icon {
    font-size: 2em;
}

button {
   background: none;
    border: 0;
}


button:focus {
    outline: #5306a0;
}

.newBowler {
    float: right;
}

.strikes {
    float: right;
}

#delete {
    display: inline;
}

a {
    color: #5306a0;
    font-size: 1.5em;
}

a:hover {
    color: grey;
}

